@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #006c49;
  --color-primary-container: #10b981;
  --color-on-primary: #ffffff;

  --color-secondary: #555f6f;
  --color-secondary-container: #1f2937;

  --color-surface: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e0e1e2;
  --color-surface-dim: #e1e2e3;
  --color-on-surface: #191c1d;

  --color-outline-variant: #bbcabf;

  --font-display: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;

  --shadow-ambient: 0 12px 32px 0 rgba(31, 41, 55, 0.06);

  --radius-md: 12px;
  --radius-DEFAULT: 8px;

  --background-image-primary-gradient: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary-container)
  );
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-display {
    font-family: var(--font-display);
  }
}
